<nav class="navbar navbar-expand-lg navbar-light " style="background-color:fafafa">
    <a  class="navbar-brand" routerLink="/"><img src="assets/img/logo.png" width="50" height="50" alt="">
       <!-- <label id="brand" class="text-info" for=""><b>ToraCash</b></label> -->
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
       
        
        
      </ul>
      <a>Se Connecter </a>
      <!-- <a> Creer Un Compte</a> -->
      <button routerLink="/create-product"  class="btn btn-sm btn-info">Publier Un Produit</button>
    </div>
  </nav>