.navbar{
    //box-shadow: none;
    background-color: #ece7e7;
   
    height: 80px;
    top:5%;
    padding-left: 4%;
    padding-right: 4%;
	margin-bottom: 10px;
	
    
    
}
#brand{
    font-family: Arial, Helvetica, sans-serif;
    
}

.v{
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    border-width: 0.5;
    margin-bottom: 5px
}

.recherche {
	width: 650px; 
	
    height: 50px;
    list-style-type: none;
    margin: 0;
	padding: 0;
	
    
  
    
    border: 1px solid #00c6ff;
}

.r{
    text-decoration-color: crimson; 
}






.dropdownmenu ul, .dropdownmenu li {
	margin: 0;
	padding: 0;
}
.dropdownmenu ul {
	background: rgb(255, 255, 255);
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
}
.dropdownmenu a {
	
	color: #FFFFFF;
	display: block;
	
	padding: 5px 5px; 
	text-align: left;
	text-transform: capitalize;
}

#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}

li:hover ul#submenu {
	opacity: 1;
	top: 40px;	
	visibility: visible;
}
#submenu li {
	float: none;
	width: 100%;
}
#submenu a:hover {
	background: rgb(255, 255, 255);
}
#submenu a {
	background-color:rgb(243, 244, 245);
}


  


//--- popup ---------------------------------------------------------------------
  .button {
	font-size: 0,6em;
	padding: 3px;
	position: absolute;
	top: 10px;
	
	height: 50px;
	width: 150px;
	color: #fff;
	border: 2px solid #06D85F;
	border-radius: 2px/2px;
	
	background: #06D85F;
	cursor: pointer;
	transition: all 0.3s ease-out;
  }
  .button:hover {
	background: #00c6ff;
  }
  
  .overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index: 3;
  }
  .overlay:target {
	visibility: visible;
	opacity: 1;
  }
  
  .popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 500s ease-in-out;
	text-align: center;
	z-index: 2;


	
  }
  
  .popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
  }
  .popup .close:hover {
	color: #06D85F;
  }
  .popup .content {
	max-height: 30%;
	overflow: auto;
  }
  
  @media screen and (max-width: 700px){
	.box{
	  width: 70%;
	}
	.popup{
	  width: 70%;
	}
  }

  //-------- contenu popup------------------------

  
  .login-box{
	position:relative;
	margin: 10px auto;
	width: 100%;
	height: 380px;
	background-color: #fff;
	padding: 10px;
	
  }
  .lb-header{
	position:relative;
	color: #00415d;
	margin: 5px 5px 10px 5px;
	padding-bottom:10px;
	border-bottom: 1px solid #eee;
	text-align:center;
	height:28px;
  }
  .lb-header a{
	margin: 0 25px;
	padding: 0 20px;
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
  }
  .lb-header .active{
	color: #029f5b;
	font-size: 18px;
  }
  
  .social-login a{
	position:relative;
	float:center;
	width:calc(40% - 8px);
	height:43%;
	text-decoration: none;
	color: #fff;
	border: 1px solid rgba(0,0,0,0.05);
	padding: 10px;
	border-radius: 2px;
	font-size: 10px;
	text-transform: uppercase;
	margin: 0 3%;
	text-align:center;
  }
 
  .social-login a:first-child{
	background-color: #49639F;
  }
  .social-login a:last-child{
	background-color: #DF4A32;
  }
  .email-login,.email-signup{
	position:relative;
	float: left;
	width: 100%;
	height:auto;
	margin-top: 10px;
	text-align:center;
  }
  .u-form-group{
	width:100%;
	margin-bottom: 10px;
  }
  .u-form-group input {
	width: calc(50% - 22px);
	height:35px;
	outline: none;
	border: 1px solid #ddd;
	padding: 0 10px;
	border-radius: 2px;
	color: #333;
	font-size:0.8rem;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	transition:all 0.1s linear;
  }
  .u-form-group input:focus{
	border-color: #358efb;
  }
  .u-form-group button{
	width:50%;
	background-color: #1CB94E;
	border: none;
	outline: none;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	padding: 14px 0;
	border-radius: 2px;
	text-transform: uppercase;
  }
  .forgot-password{
	width:50%;
	text-align: left;
	text-decoration: underline;
	color: #888;
	font-size: 0.95rem;
  }
  
 
  

  

  
  
 
 
  
  

  
 
