<div class="container">



  
  <form action="" class="">


    <div class="cat"> 

      <br> 

    <h5 style="text-align: center"> Choisissez une catégorie</h5>

<br>
<br>
  <br>
  <br>
  <br>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <div class="demo " style="position:absolute; top:80px; left:20; ">
      
      <div class="mdl-selectfield">
        <label>Standard Select</label>
        <select class="browser-default">
          <option value="" disabled selected>Choisir une Catégorie</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
    </div>




    </div>

    <div class="description">
      <br>
      <h5 style="text-align: center"> Désciption du produit </h5>
<br>


<input type="text" placeholder="Nom du produit"  style="position:absolute; top:80px; left:200px; background-color: rgba(0,47,52,.12) "> 
    

<input type="textarea" placeholder="Déscription du produit"  style="position:absolute; top:120px; left:200px; height: 70px; background-color: rgba(0,47,52,.12) "> 


<input id="checkbox1" name="checkbox" type="checkbox"  style="position:absolute; top:210px; left:250px; background-color: rgba(0,47,52,.12)"> <label for="checkbox1" style="position:absolute; top:207px; left:270px; ">Neuf</label>

        

    </div>

    <div class="prix">
        <br>
        <h5 style="text-align: center" > Prix </h5>
  
  
  
  <input type="number" placeholder="Prix" style="position:absolute; top:80px; left:200px; background-color: rgba(0,47,52,.12)"> 
          
  <input id="checkbox1" name="checkbox" type="checkbox" checked="checked" style="position:absolute; top:130px; left:250px; background-color: rgba(0,47,52,.12)"> <label for="checkbox1" style="position:absolute; top:125px; left:270px; ">à discuter</label>
           
      </div>

      <div class="images">
          <br>
          <h5 style="text-align: center"> Images </h5>
    
    
    
    
            
    
        </div>

        <div class="contact">
          <br>
          <h5 style="text-align: center"> contact </h5>
    
    
    
    
            
    
        </div>


        
     
        
          <button  class="button" > <i class="icon-check"></i> Poster </button>
    
    
    
            
    
        

    
    
    
    
    
            
    
     
  

</form>


</div>




