<div class="container">

  <form action="
  ">

  <div class="form-group">

    <div class="row">
     <div class="col-md-6">
       <input type="text" placeholder="Nom du produit" class="form-control">
     </div>
     <div class="col-md-6">
      <input type="text" placeholder="Prix du produit" class="form-control">
    </div>

    <div class="col-md-6">
    
      <input type="text" placeholder="Nom du produit" class="form-control">
    </div>
    <div class="col-md-6">
     <input type="text" placeholder="Prix du produit" class="form-control">
   </div>
   
    </div>
  </div>

</form>

</div>